/*----------------------------------------------------------------------------HEADER*/


.jumbotron{
    background-color: #d8edab;
    font-family: "playfair Display", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

}
    

.navbar{
    font-size: 20px;
    font-family: "Playfair Display", sans-serif;
    display: block;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

.navbar i{
    color: black;
    
}

.navbar span{
    color: #db76d1; 

}

.navbar a{
    text-decoration: none;
}

.active{
    border-bottom: 1px solid #db76d1;
}

/*------------------------------------------------------------------------------BODY*/



.text-box, .images, .choice-box, .forty{
    border: 2px solid #d8edab;
    font-family: "Playfair Display", sans-serif;
}

.text-box h1{
    color: #ff4800c5;
    padding-bottom: 5px;
}

.forty i{
    color: #ff4800c5;
    font-size: 800%;
    width: 50%;
    height: 50%;
    padding-left: 25%;
    padding-top: 10%; 
}

.forty span{
 float: right;
 padding-right: 5px;
 font-size: 20px;
 font-family: "Playfair Display", sans-serif;
 color: black;

}

/*------------------------------------------------------------------------------FOOTER*/

footer{
background-color: #d8edab;
}

#footer-items div{
    color: #db76d1; 
    padding-top: 20px;
    text-align: center;
    font-family: "Playfair Display", sans-serif;

}

footer i {
    color:  #db76d1; 

}

footer span{
    color: black;
}

.container-fluid a{
    text-decoration: none;
  
}

