/*---------------------------------------------------------COLORS*/

span{
    color: #ff4800c5;

}

.things-we-like-hr{
    background-color: #ff4800c5;

}

.navbar i, footer i{
    color:#db76d1;
    
}

.navbar a, #footer-items a{
    color: black;
    

}

footer{
background-color: #d8edab;
}

/*---------------------------------------------------------IMAGES*/

.img-back{
    background-image: url("https://image.freepik.com/free-photo/hand-protect-money-stack-with-plant-growing-coins-concept-finance_34152-1481.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 600px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: black;
    
}

/*---------------------------------------------------------FONTS & TEXT DECORATION*/

body{
    font-family: "Playfair Display", sans-serif;
}

.navbar a, #footer-items a{
    text-decoration: none;

}

.active{
    border-bottom: 1px solid #db76d1;

}
 
/*---------------------------------------------------------ALIGNMENT*/

.center{
    text-align: center;
}

/*-----------------------------------------------------------------HEADER*/

.jumbotron{
    background-color: #d8edab;
    font-family: "playfair Display", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;

}

.navbar{
    font-size: 20px;
    font-family: "Playfair Display", sans-serif;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

.inner-box{
  
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: rgba(218, 218, 238, 0.6);
  margin-top: 50px; 
   
}

/*---------------------------------------------------------------------LINKS (ex footer and header)*/



.link-to-things-we-like a,
.things-we-like-list a {
    color: black;
    text-decoration: none;

}

.link-to-things-we-like a:hover,
.things-we-like-list a:hover{
    color: #ff4800c5;

}

/*------------------------------------------------------------------------BUTTONS*/

.internal{
    background-color: #db76d1;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
    border: none;

}

.internal:hover{
    background-color:  #d8edab;
    color:  #ff4800c5;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 30%;
    border: none;

}

.card-button{
    width: 100%;
    background-color: #db76d1;
    color: black;

}

.card-button:hover{
    width: 100%;
    background-color:  #d8edab;
    color:  #ff4800c5;

}

/*------------------------------------------------------------------------------FORMS*/

#exampleInputText{
    color: #db76d1;
    
}

.form-control::placeholder{
    color: #ff4800c5;
}

/*------------------------------------------------------------------------------THINGS-WE-LIKE*/

.things-we-like-heading h3{
    margin-top: 50px;
    margin-bottom: 20px;

}

.things-we-like-list{ 
   padding-top: 20px;

}

/*------------------------------------------------------------------------------SIGN-ME-UP*/

.sign-me-up-heading{
    margin-top: 40px;
    margin-bottom: 40px;

}

/*------------------------------------------------------------------------------FOOTER*/

/*#footer-items{
    padding: 20px;
    
}*/

/*------------------------------------------------------------------------------CARDS*/

.card-img-top{
    height: 200px;

}

.card{
    margin-top: 5px;
    margin-bottom: 5px;

}
